.container {
  background: linear-gradient(to bottom right, #1a1a1a, #363636);
  color: gold;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.container::before {
  content: '';
  position: absolute;
  top: -200px;
  left: -200px;
  width: 400px;
  height: 400px;
  background: linear-gradient(to bottom right, #1a1a1a, #363636);
  transform: rotate(45deg);
  z-index: -1;
}

.container::after {
  content: '';
  position: absolute;
  bottom: -200px;
  right: -200px;
  width: 400px;
  height: 400px;
  background: linear-gradient(to bottom right, #1a1a1a, #363636);
  transform: rotate(45deg);
  z-index: -1;
}

.logo-container {
  text-align: center;
}

.logo {
  width: 100px;
  height: 100px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

h2 {
  margin-top: 20px;
}

input[type="text"],
input[type="number"],
textarea,
select {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

input[type="checkbox"] {
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: gold;
  color: darkgray;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="button"] {
  background-color: darkgray;
  color: gold;
}

button[type="submit"] {
  background-color: gold;
  color: darkgray;
}

button:hover {
  background-color: darkgoldenrod;
}
